{{#*inline "body"}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#is "home"}}
    {{#if @root.site.description}}
    <header class="page-head">
        <h2 class="page-head-title">{{@root.site.description}}</h2>
    </header>
    {{/if}}
{{/is}}

<div class="post-feed gh-feed">
    {{#foreach posts}}
        {{> partials/post-card}}
    {{/foreach}}
</div>
{{/inline}}
{{> default}}